.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  padding: 2rem;
  text-align: center;
  background: black;
  color: white;
  position: relative;
}

.about-section h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: white;
}

.about-section p {
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 800px;
  color: white;
  margin-bottom: 2rem;
}

.about-section button {
  background-color: rgb(204, 57, 57);
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  animation: pulse 2s infinite;
}

.about-section button:hover {
  background-color: rgb(204, 57, 57);
  transform: scale(1.05);
}

.about-image {
  position: absolute;
  bottom: 120px;
  right: 300px;
  width: 250px;
  height: 250px;
}

@media (max-width: 768px) {
  .about-section h2 {
    font-size: 2rem;
  }

  .about-section p {
    font-size: 1rem;
  }

  .about-image {
    width: 120px;
    height: 120px;
  }
}
